html, body, header, nav, aside, section, figure, footer, h1, h2, h3, h4,
ol, ul, li, label, p, a {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}
