body {
  font-family: Arial, sans-serif;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: georgian inside;
}

header > img {
  width: 200px;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: salmon;
}

input[type="radio"], select, button {
  cursor: pointer;
  outline: none;
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-position: bottom;;
  background-image: url(./assets/stars.png);
}

input[type='radio']:checked ~ input[type='radio'] {
  background-position: top;
}

input[type='radio']:checked ~ input[type='radio']:hover {
  background-position: center;
}

input[type='radio']:hover {
  background-position: center;
}

form > input:last-child {
  background-color: gold;
}

form > input:last-child:hover {
  -webkit-filter: brightness(90%);
}

ol  li:nth-of-type(2n) {
  color: lightgray;
}

a + div {
  border-top: 1px solid black;
}
